## Data Modelling

#### Required fields
* Transaction type (i.e. sale vs. rent - string)
* Bedrooms (integer)
* Bathrooms (integer)
* Description (free text string)
* Property type e.g. flat, detached house, terraced house
* Price e.g. 500,000 (typically integer)
* Location :  Key location data here is Postcode district and/or Postcode
* Agent (advertising the property)
* Listing source
* Listing URL
* Other nice-to-have metadata
* If a rental property is furnished or not
* Anything else you deem interesting

In [183]:
# import libaries needed
import pandas as pd
import psycopg2
from datetime import datetime, date
import csv
import

SyntaxError: invalid syntax (4204300349.py, line 6)

In [145]:
# load dataset
rm_data = pd.read_csv(f'data_output/rightnow_{date.today()}.csv')
omt_data = pd.read_csv(f'data_output/omt_{date.today()}.csv')
z_data = pd.read_csv(f'data_output/zoopla_{date.today()}.csv')

In [98]:
rm_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction     50 non-null     object
 1   address         50 non-null     object
 2   bedroom         48 non-null     float64
 3   bathroom        49 non-null     float64
 4   sales_price     25 non-null     float64
 5   rent_perMonth   25 non-null     float64
 6   rent_perWeek    25 non-null     float64
 7   description     50 non-null     object
 8   propertyType    50 non-null     object
 9   location        50 non-null     object
 10  agent           50 non-null     object
 11  listing_source  50 non-null     object
 12  listing_url     50 non-null     object
 13  listed_date     50 non-null     object
dtypes: float64(5), object(9)
memory usage: 5.6+ KB

In [146]:
omt_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction     46 non-null     object
 1   address         44 non-null     object
 2   bedroom         38 non-null     float64
 3   bathroom        44 non-null     float64
 4   sales_price     21 non-null     float64
 5   rent_perMonth   23 non-null     float64
 6   rent_perWeek    23 non-null     float64
 7   description     44 non-null     object
 8   propertyType    44 non-null     object
 9   location        44 non-null     object
 10  agent           4 non-null      object
 11  listing_source  46 non-null     object
 12  listing_url     46 non-null     object
 13  listed_date     44 non-null     object
dtypes: float64(5), object(9)
memory usage: 5.2+ KB

In [147]:
z_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction     50 non-null     object
 1   address         50 non-null     object
 2   bedroom         44 non-null     float64
 3   bathroom        41 non-null     float64
 4   living_room     30 non-null     float64
 5   sales_price     25 non-null     float64
 6   rent_perMonth   25 non-null     float64
 7   rent_perWeek    25 non-null     float64
 8   description     50 non-null     object
 9   propertyType    46 non-null     object
 10  location        50 non-null     object
 11  agent           50 non-null     object
 12  listing_source  50 non-null     object
 13  listing_url     50 non-null     object
 14  listed_date     50 non-null     object
dtypes: float64(6), object(9)
memory usage: 6.0+ KB

### Create a Unique ID for each data

The unique id will be crated by combining the  [[transaction,agent,address,sales_price,rent_permonth,rent_perweek]] as one attribute and drop all empty columns

In [148]:
# create a unique id field
rm_data['id'] = rm_data['transaction'] + rm_data["bedroom"].astype(str) + rm_data["bathroom"].astype(str) + rm_data["sales_price"].astype(str) + z_data["rent_perMonth"].astype(str) + rm_data["address"]
# drop empty columns
rm_data.dropna(subset=['address'], inplace=True)

# change the data column to data type
rm_data['listed_date'] = pd.to_datetime(rm_data['listed_date'])

# read dataset
rm_data.head()

,transaction,address,bedroom,bathroom,sales_price,rent_perMonth,rent_perWeek,description,propertyType,location,agent,listing_source,listing_url,listed_date,id
0,rent,Narcissus Road London NW6,1.0,1.0,NaN,1750.0,404.0,A large and modern one bedroom apartment boast...,Flat,NW6,"Kinleigh Folkard & Hayward - Lettings, West Ha...",rightmove,https://www.rightmove.co.uk/properties/1348085...,2023-05-15,rent1.01.0nan2300.0Narcissus Road London NW6
1,rent,"Flat 2, Refectory Apartments, 3 Lawrence Yard,...",2.0,1.0,NaN,1750.0,404.0,Ellis & Co are delighted to offer on the marke...,Apartment,N15,"Ellis & Co, Tottenham",rightmove,https://www.rightmove.co.uk/properties/1350452...,2023-05-19,"rent2.01.0nan1500.0Flat 2, Refectory Apartment..."
2,rent,"Essex Road, Islington, N1",3.0,1.0,NaN,3250.0,750.0,This superbly located three double bedroom spl...,Apartment,N1,"Charles Henry Peppiatt Ltd, Southgate",rightmove,https://www.rightmove.co.uk/properties/1350452...,2023-05-19,"rent3.01.0nan2496.0Essex Road, Islington, N1"
3,rent,"Kingston Road, London, SW20",1.0,1.0,NaN,1450.0,335.0,"Modern 1 bed, 1 bath flat located within walki...",Flat,SW20,"Criterion Hospitality Limited, Criterion Hospi...",rightmove,https://www.rightmove.co.uk/properties/1350058...,2023-05-19,"rent1.01.0nan1600.0Kingston Road, London, SW20"
4,rent,"Adelaide Road, Chalk Farm, NW3",1.0,1.0,NaN,1650.0,381.0,This charming one bedroom apartment is on the ...,Apartment,NW3,"Charles Henry Peppiatt Ltd, Southgate",rightmove,https://www.rightmove.co.uk/properties/1335260...,2023-05-19,"rent1.01.0nan750.0Adelaide Road, Chalk Farm, NW3"

In [149]:
# create a unique id field
omt_data['id'] = omt_data['id'] = omt_data['transaction'] + omt_data["bedroom"].astype(str) + omt_data["bathroom"].astype(str) + omt_data["sales_price"].astype(str) + z_data["rent_perMonth"].astype(str) + omt_data["address"]
# drop empty columns
omt_data.dropna(subset=['address'], inplace=True)

# # change the data column to data type
# omt_data['listed_date'] = pd.to_datetime(omt_data['listed_date'])

# read dataset
omt_data.head()

,transaction,address,bedroom,bathroom,sales_price,rent_perMonth,rent_perWeek,description,propertyType,location,agent,listing_source,listing_url,listed_date,id
0,rent,"Gloucester Terrace, London, W2",3.0,2.0,NaN,8450.0,1950.0,3 bedroom duplex to rent,duplex,W2,Savills - Notting Hill,omt,https://www.onthemarket.com/details/12548982/,> 14 days,"rent3.02.0nan2300.0Gloucester Terrace, London, W2"
1,rent,"Chalklands, Wembley HA9",1.0,1.0,NaN,750.0,173.0,1 bedroom flat to rent,flat,HA9,Home World Management - London,omt,https://www.onthemarket.com/details/13215915/,< 7 days,"rent1.01.0nan1500.0Chalklands, Wembley HA9"
2,rent,"Elmhurst Road, Enfield, London, Enfield EN3",1.0,1.0,NaN,1000.0,231.0,1 bedroom flat to rent,flat,EN3,NaN,omt,https://www.onthemarket.com/details/13215647/,< 7 days,"rent1.01.0nan2496.0Elmhurst Road, Enfield, Lon..."
3,rent,"Hogarth Road , Kensington , Kensington Chelsea...",1.0,1.0,NaN,1647.0,380.0,1 bedroom flat to rent,flat,SW5,NaN,omt,https://www.onthemarket.com/details/8560268/,< 7 days,"rent1.01.0nan1600.0Hogarth Road , Kensington ,..."
4,rent,"Browning Way, Hounslow TW5",NaN,1.0,NaN,1250.0,288.0,Studio to rent,Studio,TW5,NaN,omt,https://www.onthemarket.com/details/13215123/,< 7 days,"rentnan1.0nan750.0Browning Way, Hounslow TW5"

In [150]:
# create a unique id field
z_data['id'] = z_data['id'] = z_data['transaction'] + z_data["bedroom"].astype(str) + z_data["bathroom"].astype(str) + z_data["sales_price"].astype(str) + z_data["rent_perMonth"].astype(str) + z_data["address"]
# drop empty columns
z_data.dropna(subset=['address'], inplace=True)

# change the data column to data type
z_data['listed_date'] = pd.to_datetime(z_data['listed_date'])

# read dataset
z_data.head()

,transaction,address,bedroom,bathroom,living_room,sales_price,rent_perMonth,rent_perWeek,description,propertyType,location,agent,listing_source,listing_url,listed_date,id
0,rent,"Belvedere Heights, Lisson Grove, London NW8",2.0,2.0,1.0,NaN,2300.0,531.0,This is a beautifully decorated modern two dou...,flat,NW8,Redac Strattons - Central London Hub,zoopla,https://www.zoopla.co.uk/to-rent/details/64672...,2023-05-19,"rent2.02.0nan2300.0Belvedere Heights, Lisson G..."
1,rent,"Narcissus Road, West Hampstead, London NW6",1.0,1.0,NaN,NaN,1500.0,346.0,All bills included! Introducing a stunning new...,Studio,NW6,Belgrave Estates,zoopla,https://www.zoopla.co.uk/to-rent/details/64672...,2023-05-19,"rent1.01.0nan1500.0Narcissus Road, West Hampst..."
2,rent,"Hoxton Street, London N1",2.0,1.0,NaN,NaN,2496.0,576.0,"The Flat is situated on Hoxton Street, which i...",flat,N1,MK London Properties,zoopla,https://www.zoopla.co.uk/to-rent/details/64672...,2023-05-19,"rent2.01.0nan2496.0Hoxton Street, London N1"
3,rent,"Cambridge Rd, Kingston Upon Thames, London KT1",1.0,1.0,NaN,NaN,1600.0,369.0,Material Information Council Tax Band :C,flat,KT1,B & K Estates,zoopla,https://www.zoopla.co.uk/to-rent/details/64672...,2023-05-19,"rent1.01.0nan1600.0Cambridge Rd, Kingston Upon..."
4,rent,"Old Oak Common Lane, East Acton, London W3",1.0,NaN,NaN,NaN,750.0,173.0,Savoy Property Consultants are delighted to pr...,NaN,W3,Savoy Property Consultants,zoopla,https://www.zoopla.co.uk/to-rent/details/54451...,2023-05-19,"rent1.0nannan750.0Old Oak Common Lane, East Ac..."

### Connecting to the database

In [151]:

def create_database(database_name: str):
    # Connect to the default database
    conn = psycopg2.connect("host=localhost dbname=postgres user=postgres password=1118")
    conn.set_session(autocommit=True)
    cur = conn.cursor()

    # Create the sparkify database with UTF8 encoding
    cur.execute(f"DROP DATABASE IF EXISTS {database_name}")
    cur.execute(f"CREATE DATABASE {database_name} ENCODING 'UTF8'")

    # Close the connection to the default database
    cur.close()
    conn.close()

    # Connect to the new database
    conn = psycopg2.connect(f"host=localhost dbname={database_name} user=postgres password=1118")
    conn.set_session(autocommit=True)
    cur = conn.cursor()

    return cur, conn

cur, conn = create_database('london_propertylisting')

ObjectInUse: database "london_propertylisting" is being accessed by other users
DETAIL:  There are 12 other sessions using the database.

### Create table for each dataset and insert the data into the table
float is used instead of integer because there are NAN values which not be represented as integer

Right move

In [107]:
print(pd.io.sql.get_schema(rm_data, name="rm_data"))

CREATE TABLE "rm_data" (
"transaction" TEXT,
  "address" TEXT,
  "bedroom" REAL,
  "bathroom" REAL,
  "sales_price" REAL,
  "rent_perMonth" REAL,
  "rent_perWeek" REAL,
  "description" TEXT,
  "propertyType" TEXT,
  "location" TEXT,
  "agent" TEXT,
  "listing_source" TEXT,
  "listing_url" TEXT,
  "listed_date" TIMESTAMP,
  "id" TEXT
)

In [152]:
cur.execute("DROP TABLE IF EXISTS rightmove")

rm_table = ("""CREATE TABLE IF NOT EXISTS rightmove (
transaction TEXT,
  address VARCHAR,
  bedroom FLOAT,
  bathroom FLOAT,
  sales_price FLOAT,
  rent_perMonth FLOAT,
  rent_perWeek FLOAT,
  description VARCHAR,
  propertyType VARCHAR,
  location VARCHAR,
  agent VARCHAR,
  listing_source VARCHAR,
  listing_url VARCHAR,
  listed_date VARCHAR,
  id TEXT PRIMARY KEY
  );""")

cur.execute(rm_table)

In [153]:
# insert rm_data into the table created
rm_insert = """
INSERT INTO rightmove (
    transaction,
    address,
    bedroom,
    bathroom,
    sales_price,
    rent_perMonth,
    rent_perWeek,
    description,
    propertyType,
    location,
    agent,
    listing_source,
    listing_url,
    listed_date,
    id)
VALUES
(%s,%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
"""
for i, row in rm_data.iterrows():
    cur.execute(rm_insert, list(row))

On the market

In [154]:
cur.execute("DROP TABLE IF EXISTS omt")

omt_table = ("""CREATE TABLE IF NOT EXISTS omt (
transaction TEXT,
  address VARCHAR,
  bedroom FLOAT,
  bathroom FLOAT,
  sales_price FLOAT,
  rent_perMonth FLOAT,
  rent_perWeek FLOAT,
  description VARCHAR,
  propertyType VARCHAR,
  location VARCHAR,
  agent VARCHAR,
  listing_source VARCHAR,
  listing_url VARCHAR,
  listed_date VARCHAR,
  id TEXT PRIMARY KEY
  );""")

cur.execute(omt_table)

In [155]:
# insert omt_data into the table created
omt_insert = """
INSERT INTO omt (
    transaction,
    address,
    bedroom,
    bathroom,
    sales_price,
    rent_perMonth,
    rent_perWeek,
    description,
    propertyType,
    location,
    agent,
    listing_source,
    listing_url,
    listed_date,
    id)
VALUES
(%s,%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
"""
for i, row in omt_data.iterrows():
    cur.execute(omt_insert, list(row))

Zoopla

In [156]:
cur.execute("DROP TABLE IF EXISTS zoopla")

z_table = ("""CREATE TABLE IF NOT EXISTS zoopla (
transaction TEXT,
  address VARCHAR,
  bedroom FLOAT,
  bathroom FLOAT,
  living_room FLOAT,
  sales_price FLOAT,
  rent_perMonth FLOAT,
  rent_perWeek FLOAT,
  description VARCHAR,
  propertyType VARCHAR,
  location VARCHAR,
  agent VARCHAR,
  listing_source VARCHAR,
  listing_url VARCHAR,
  listed_date VARCHAR,
  id TEXT PRIMARY KEY
  );""")

cur.execute(z_table)

In [157]:
# insert rm_data into the table created
z_insert = """
INSERT INTO zoopla (
    transaction,
    address,
    bedroom,
    bathroom,
    living_room,
    sales_price,
    rent_perMonth,
    rent_perWeek,
    description,
    propertyType,
    location,
    agent,
    listing_source,
    listing_url,
    listed_date,
    id)
VALUES
(%s,%s, %s, %s, %s, %s,%s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
"""
for i, row in z_data.iterrows():
    cur.execute(z_insert, list(row))

### Pull out the dataset and write query

  Use LEFT outer join to combine all the three dataset as one, remove duplicate and save the distinct data set into a new table in the database and also ouput it as csv

In [170]:
query1 = """SELECT DISTINCT *
FROM (
    SELECT *
    FROM public.rightmove
    UNION ALL
    SELECT *
    FROM public.omt
    UNION ALL
    SELECT *
    FROM public.zoopla
) AS master_list;"""

In [181]:
query1 = """
SELECT DISTINCT *
FROM (
    SELECT transaction, address, bedroom, bathroom, sales_price, rent_perMonth, rent_perWeek,
        description, propertyType, location, agent, listing_source, listing_url, listed_date, id,
        CAST(NULL AS FLOAT) AS living_room
    FROM public.rightmove
    UNION ALL
    SELECT transaction, address, bedroom, bathroom, sales_price, rent_perMonth, rent_perWeek,
        description, propertyType, location, agent, listing_source, listing_url, listed_date, id,
        CAST(NULL AS FLOAT) AS living_room
    FROM public.omt
    UNION ALL
    SELECT transaction, address, bedroom, bathroom, sales_price, rent_perMonth, rent_perWeek,
        description, propertyType, location, agent, listing_source, listing_url, listed_date, id, living_room
    FROM public.zoopla
) AS master_list;
"""

In [182]:
cur.execute(query1)

for row in cur.fetchall():
    print(row)

('sales', 'Bronson Road, Raynes Park', 2.0, 1.0, 785000.0, nan, nan, '2 bedroom terraced house for sale', 'terraced', 'Park', 'NaN', 'omt', 'https://www.onthemarket.com/details/13229071/', '2023-05-19', 'sales2.01.0785000.0nanBronson Road, Raynes Park', None)
('rent', 'Park Mansions, London, SW8', 3.0, 1.0, nan, 2500.0, 577.0, '£2850 Per calendar Month, 3 Minute walk to Tube / Rail Station (Zone 1) Beautiful 3 Bedroom Vauxhall Flat with 1 WC. All within 20 metres of lush and spacious Vauxhall Park. Please note: From the... ** Property Reference: 1695487 **', 'Flat', 'SW8', 'OpenRent, London', 'rightmove', 'https://www.rightmove.co.uk/properties/134355104#/?channel=RES_LET', '2023-05-19 00:00:00', 'rent3.01.0nan2050.0Park Mansions, London, SW8', None)
('sales', 'South Street, London', 5.0, 6.0, 35000000.0, nan, nan, 'An elegant stone-dressed, red-brick, five-storey grade II listed mansion house. Double-fronted Edwardian facade with arts & crafts style detailing and french-inspired fine iron railings. Home to politicians and celebrities.', 'Terraced', 'London', 'Wetherell, Mayfair', 'rightmove', 'https://www.rightmove.co.uk/properties/128150369#/?channel=RES_BUY', '2022-10-18 00:00:00', 'sales5.06.035000000.0nanSouth Street, London', None)
('rent', 'Elmhurst Road, Enfield, London, Enfield EN3', 1.0, 1.0, nan, 1000.0, 231.0, '1 bedroom flat to rent', 'flat', 'EN3', 'NaN', 'omt', 'https://www.onthemarket.com/details/13215647/', '< 7 days', 'rent1.01.0nan2496.0Elmhurst Road, Enfield, London, Enfield EN3', None)
('rent', 'Hill Rise, Upminster, Essex RM14', 3.0, nan, nan, 2000.0, 462.0, 'This 3 bedroom semi detached Bungalow is located within a short walk of Upminster Bridge District Line station and is in excellent condition ...', 'semi-detached', 'RM14', 'Stoneshaw Estates', 'zoopla', 'https://www.zoopla.co.uk/to-rent/details/35145914/?search_identifier=e29133bd9e33b6e9fd2e1ebde51741c0b3e350a8f4b13ddf07b33e77b503a8b7', '2023-05-19 00:00:00', 'rent3.0nannan2000.0Hill Rise, Upminster, Essex RM14', nan)
('sales', 'Plough Way, London SE16', 1.0, 1.0, 430000.0, nan, nan, 'An excellent opportunity to acquire this spacious first floor apartment that combines a luxurious interior with practical convenience and is part ...', 'flat', 'SE16', 'Winkworth - Surrey Quays', 'zoopla', 'https://www.zoopla.co.uk/for-sale/details/64672616/?search_identifier=e2f52ecac4296f7263ce1d9f3bd364400246cf2a24ee664b466896f27c160137', '2023-05-19 00:00:00', 'sales1.01.0430000.0nanPlough Way, London SE16', 1.0)
('sales', 'Marylebone High Street, London, W1U', 3.0, 3.0, 27000000.0, nan, nan, "The most eagerly awaited residential development to be formed in Marylebone over recent decades. Nestled in the absolute epicentre of Marylebone Village only a stone's throw from the much-lauded and admired Marylebone High Street Quarter.", 'Penthouse', 'W1U', 'Luxury Living Homes International, London', 'rightmove', 'https://www.rightmove.co.uk/properties/132097715#/?channel=RES_BUY', '2023-02-28 00:00:00', 'sales3.03.027000000.0nanMarylebone High Street, London, W1U', None)
('sales', 'Westcliffe Apartments, 1 South Wharf Road, London W2', 3.0, nan, 1700000.0, nan, nan, 'A well proportioned three bedroom apartment located on the second floor of this popular modern development. Including a secure underground parking ...', 'flat', 'W2', 'Hamptons - Hyde Park & Bayswater Sales', 'zoopla', 'https://www.zoopla.co.uk/for-sale/details/64672923/?search_identifier=e2f52ecac4296f7263ce1d9f3bd364400246cf2a24ee664b466896f27c160137', '2023-05-19 00:00:00', 'sales3.0nan1700000.0nanWestcliffe Apartments, 1 South Wharf Road, London W2', nan)
('sales', 'Rochester Row, London SW1P', 2.0, 2.0, 1125000.0, nan, nan, 'Rare to the market. A fantastic opportunity to buy a spacious and bright two double bedroom, 2 bathroom flat situated at the rear of a small and ...', 'flat', 'SW1P', "Carter Jonas - Mayfair & St James's", 'zoopla', 'https://www.zoopla.co.uk/for-sale/details/61738753/?search_identifier=e2f52ecac4296f7263ce1d9f3bd364400246cf2a24ee664b466896f27c160137', '2023-05-19 00:00:00', 'sales2.02.01125000.0nanRochester Row, London SW1P', 1.0)
('rent', 'Golders Way, London, NW11', 1.0, 1.0, nan, 1500.0, 346.0, 'Simply stunning. A fabulous one bedroom modernised apartment ideally situated in the heart of Golders Green. Close to shops and tube. Benefits include fully furnished, designer interior, study area, convenient location and available immediately. Council Tax Band: B Deposit: £...', 'Apartment', 'NW11', 'Ellis & Co, Golders Green', 'rightmove', 'https://www.rightmove.co.uk/properties/134896484#/?channel=RES_LET', '2023-05-17 00:00:00', 'rent1.01.0nan1911.0Golders Way, London, NW11', None)
('sales', 'Salford Road, London SW2', 1.0, 1.0, 375000.0, nan, nan, 'This lovely top floor Victorian conversion apartment is located in the sought-after Telford Park conservation area off Streatham Hill and has easy ...', 'flat', 'SW2', 'Winkworth - Streatham', 'zoopla', 'https://www.zoopla.co.uk/for-sale/details/64672628/?search_identifier=e2f52ecac4296f7263ce1d9f3bd364400246cf2a24ee664b466896f27c160137', '2023-05-19 00:00:00', 'sales1.01.0375000.0nanSalford Road, London SW2', 1.0)
('sales', 'Culross House', 5.0, 6.0, 26950000.0, nan, nan, 'A newly constructed Mayfair Mansion, designed by K10 Group, of 8,060 sq ft, situated in an enviable location just off Park Lane.', 'House', 'House', 'London House, London', 'rightmove', 'https://www.rightmove.co.uk/properties/132612542#/?channel=RES_BUY', '2023-03-15 00:00:00', 'sales5.06.026950000.0nanCulross House', None)
('sales', 'Conduit Mews, London W2', 4.0, 4.0, 3500000.0, nan, nan, 'A substantial family house located on a charming cobbled mews that offers four bedrooms with great proportions over three floors, outside space ...', 'NaN', 'W2', 'John D Wood & Co. - Notting Hill Sales', 'zoopla', 'https://www.zoopla.co.uk/for-sale/details/64672849/?search_identifier=e2f52ecac4296f7263ce1d9f3bd364400246cf2a24ee664b466896f27c160137', '2023-05-19 00:00:00', 'sales4.04.03500000.0nanConduit Mews, London W2', 1.0)
('rent', 'Charles Clowes Walk, London SW11', 2.0, 2.0, nan, 4658.0, 1075.0, '2 bedroom apartment to rent', 'apartment', 'SW11', 'NaN', 'omt', 'https://www.onthemarket.com/details/13231695/', '2023-05-19', 'rent2.02.0nan5417.0Charles Clowes Walk, London SW11', None)
('rent', 'Farm View Court, Bawdsey Avenue, Ilford, Essex IG2', 1.0, 1.0, nan, 1100.0, 254.0, 'This excellent 1 bedroom ground floor flat is available now and comes with a newly fitted kitchen and bathroom, new gas central heating, double ...', 'flat', 'IG2', 'Stoneshaw Estates', 'zoopla', 'https://www.zoopla.co.uk/to-rent/details/64672871/?search_identifier=e29133bd9e33b6e9fd2e1ebde51741c0b3e350a8f4b13ddf07b33e77b503a8b7', '2023-05-19 00:00:00', 'rent1.01.0nan1100.0Farm View Court, Bawdsey Avenue, Ilford, Essex IG2', nan)
('sales', 'Balham High Road, Balham', 1.0, 1.0, 465000.0, nan, nan, '1 bedroom flat for sale', 'flat', 'Balham', 'NaN', 'omt', 'https://www.onthemarket.com/details/13229229/', '2023-05-19', 'sales1.01.0465000.0nanBalham High Road, Balham', None)
('rent', 'Marsh Wall, London E14', 1.0, 1.0, nan, 2800.0, 646.0, '1 bedroom flat to rent', 'flat', 'E14', 'NaN', 'omt', 'https://www.onthemarket.com/details/13231703/', '2023-05-19', 'rent1.01.0nan1100.0Marsh Wall, London E14', None)
('rent', 'Augustus Road, London SW19', nan, nan, nan, 1466.0, 338.0, "Luxurious and stylishly studio apartments within a private gated delopment teaming with resident amenity spaces: Â€¢ A spectacular residents' ...", 'Studio', 'SW19', 'John D Wood & Co. - Southfields Lettings', 'zoopla', 'https://www.zoopla.co.uk/to-rent/details/64672822/?search_identifier=e29133bd9e33b6e9fd2e1ebde51741c0b3e350a8f4b13ddf07b33e77b503a8b7', '2023-05-19 00:00:00', 'rentnannannan1466.0Augustus Road, London SW19', nan)
('rent', 'BEAUTIFUL DOUBLE ROOM | SINGLE FEMALE | STUDENT FRIENDLY, London E18', 1.0, 1.0, nan, 550.0, 127.0, '1 bedroom in a flat share to rent', 'flat', 'E18', 'NaN', 'omt', 'https://www.onthemarket.com/details/13214760/', '< 7 days', 'rent1.01.0nan3987.0BEAUTIFUL DOUBLE ROOM | SINGLE FEMALE | STUDENT FRIENDLY, London E18', None)
('rent', 'Bushey Down, London, SW12', 3.0, 2.0, nan, 3250.0, 750.0, 'Spacious, recently decorated three bedroom house in Balham with a new kitchen and appliances. Perfect for sharers as it has three similar bedrooms, the third of which has its own en suite shower.... ** Property Reference: 1709792 **', 'Terraced', 'SW12', 'OpenRent, London', 'rightmove', 'https://www.rightmove.co.uk/properties/135043361#/?channel=RES_LET', '2023-05-19 00:00:00', 'rent3.02.0nan5500.0Bushey Down, London, SW12', None)
('sales', 'Sarsfield Road, Perivale, Greenford UB6', 3.0, 1.0, 600000.0, nan, nan, 'A superb property situated in a sought-after area that would make the ideal home for any family. With a stunning open-plan living room/kitchen, a ...', 'terraced', 'UB6', 'Strike', 'zoopla', 'https://www.zoopla.co.uk/for-sale/details/64672707/?search_identifier=e2f52ecac4296f7263ce1d9f3bd364400246cf2a24ee664b466896f27c160137', '2023-05-19 00:00:00', 'sales3.01.0600000.0nanSarsfield Road, Perivale, Greenford UB6', 2.0)
('rent', 'Hogarth Road , Kensington , Kensington Chelsea SW5', 1.0, 1.0, nan, 1647.0, 380.0, '1 bedroom flat to rent', 'flat', 'SW5', 'NaN', 'omt', 'https://www.onthemarket.com/details/8560268/', '< 7 days', 'rent1.01.0nan1600.0Hogarth Road , Kensington , Kensington Chelsea SW5', None)
('sales', 'Malvern Road, London NW6', 1.0, 1.0, 495000.0, nan, nan, '1 bedroom flat for sale', 'flat', 'NW6', 'NaN', 'omt', 'https://www.onthemarket.com/details/13221646/', '2023-05-18', 'sales1.01.0495000.0nanMalvern Road, London NW6', None)
('rent', 'Augustus Road, London SW19', nan, nan, nan, 1500.0, 346.0, "Luxurious and stylishly studio apartments within a private gated delopment teaming with resident amenity spaces: Â€¢ A spectacular residents' ...", 'Studio', 'SW19', 'John D Wood & Co. - Southfields Lettings', 'zoopla', 'https://www.zoopla.co.uk/to-rent/details/64672823/?search_identifier=e29133bd9e33b6e9fd2e1ebde51741c0b3e350a8f4b13ddf07b33e77b503a8b7', '2023-05-19 00:00:00', 'rentnannannan1500.0Augustus Road, London SW19', nan)
('sales', 'Felden Street, London, SW6 5AE', 4.0, 3.0, 2499950.0, nan, nan, 'A beautiful family home situated on a highly sought after residential street close to Fulham Road. This wonderful property has four double bedrooms, ample entertaining space and a lovely garden to the rear.', 'Terraced', '5AE', 'Maison, Covering Kent / Surrey', 'rightmove', 'https://www.rightmove.co.uk/properties/132447401#/?channel=RES_BUY', '2023-03-22 00:00:00', 'sales4.03.02499950.0nanFelden Street, London, SW6 5AE', None)
('rent', 'Pepper Street, Isle Of Dogs, London E14', 2.0, nan, nan, 1950.0, 450.0, 'JS Estate Management are proud to present this newly-refurbished 2 Bed, 2 bath in an enviable location of E14 Docklands. This Property has just ...', 'flat', 'E14', 'JS Estate Management', 'zoopla', 'https://www.zoopla.co.uk/to-rent/details/58703154/?search_identifier=e29133bd9e33b6e9fd2e1ebde51741c0b3e350a8f4b13ddf07b33e77b503a8b7', '2023-05-19 00:00:00', 'rent2.0nannan1950.0Pepper Street, Isle Of Dogs, London E14', nan)
('sales', 'Wembley Park', 1.0, 1.0, 250000.0, nan, nan, '1 bedroom flat for sale', 'flat', 'Park', 'NaN', 'omt', 'https://www.onthemarket.com/details/13227906/', '2023-05-19', 'sales1.01.0250000.0nanWembley Park', None)
('sales', 'Hanover Terrace, Regents Park, London, NW1', 6.0, 8.0, 29000000.0, nan, nan, 'United Kingdom Sotheby’s International Realty are pleased to present this six bedroom home situated in Regents Park, London, An Ambassadorial Grade l Listed family home with spectacular views facing onto the swan and boating lake within Regents Park, this property was designed by...', 'End of Terrace', 'NW1', "'s International Realty, London", 'rightmove', 'https://www.rightmove.co.uk/properties/119281460#/?channel=RES_BUY', '2022-01-28 00:00:00', 'sales6.08.029000000.0nanHanover Terrace, Regents Park, London, NW1', None)
('rent', 'York Road, London, E10', 5.0, 2.0, nan, 4000.0, 923.0, 'We are proud to offer this delightful 5 bedroom, 2 bathroom terraced house in a great location. Available to move in from 19 May 2023. Property is offered furnished. Viewing highly recommended.... ** Property Reference: 1683489 **', 'Terraced', 'E10', 'OpenRent, London', 'rightmove', 'https://www.rightmove.co.uk/properties/133806272#/?channel=RES_LET', '2023-05-19 00:00:00', 'rent5.02.0nan5417.0York Road, London, E10', None)
('sales', 'Acre Lane, Brixton', 2.0, 1.0, 600000.0, nan, nan, '2 bedroom flat for sale', 'flat', 'Brixton', 'NaN', 'omt', 'https://www.onthemarket.com/details/13228830/', '2023-05-19', 'sales2.01.0600000.0nanAcre Lane, Brixton', None)
('rent', 'Essex Road, Islington N1', 3.0, 1.0, nan, 3250.0, 750.0, 'This superbly located three double bedroom split level apartment is moments from Angel underground station and the fantastic selection of shops, ...', 'flat', 'N1', 'Charles Henry Peppiatt Ltd', 'zoopla', 'https://www.zoopla.co.uk/to-rent/details/64672857/?search_identifier=e29133bd9e33b6e9fd2e1ebde51741c0b3e350a8f4b13ddf07b33e77b503a8b7', '2023-05-19 00:00:00', 'rent3.01.0nan3250.0Essex Road, Islington N1', 1.0)
('sales', 'Tramway Avenue, London N9', 2.0, 1.0, 375000.0, nan, nan, '2 bedroom terraced house for sale', 'terraced', 'N9', 'NaN', 'omt', 'https://www.onthemarket.com/details/13229075/', '2023-05-19', 'sales2.01.0375000.0nanTramway Avenue, London N9', None)
('sales', 'Princes Gate, Knightsbridge, SW7', 7.0, 5.0, 30000000.0, nan, nan, "7 Bedroom house in one of Knightsbridge's most exclusive streets", 'House', 'SW7', 'Nest Seekers International, London', 'rightmove', 'https://www.rightmove.co.uk/properties/130713020#/?channel=RES_BUY', '2023-01-13 00:00:00', 'sales7.05.030000000.0nanPrinces Gate, Knightsbridge, SW7', None)
('sales', 'Roan Street, London SE10', 2.0, 2.0, 750000.0, nan, nan, 'Guide Price £750,000-£775,000. We are delighted to offer this larger than average two bedroom period house that is beautifully presented to a high ...', 'terraced', 'SE10', 'Winkworth - Greenwich', 'zoopla', 'https://www.zoopla.co.uk/for-sale/details/64672594/?search_identifier=e2f52ecac4296f7263ce1d9f3bd364400246cf2a24ee664b466896f27c160137', '2023-05-19 00:00:00', 'sales2.02.0750000.0nanRoan Street, London SE10', 1.0)
('rent', 'Mayday Road, Thornton Heath CR7', 2.0, 1.0, nan, 1450.0, 335.0, '2 bedroom flat to rent', 'flat', 'CR7', 'NaN', 'omt', 'https://www.onthemarket.com/details/13231798/', '2023-05-19', 'rent2.01.0nan2100.0Mayday Road, Thornton Heath CR7', None)
('rent', 'Browning Way, Hounslow TW5', nan, 1.0, nan, 1250.0, 288.0, 'Studio to rent', 'Studio', 'TW5', 'NaN', 'omt', 'https://www.onthemarket.com/details/13215123/', '< 7 days', 'rentnan1.0nan750.0Browning Way, Hounslow TW5', None)
('sales', 'Merton Lane, London, N6', 6.0, 7.0, 32000000.0, nan, nan, 'United Kingdom Sotheby’s International Realty are pleased to present this exceptional six bedroom contemporary mansion in Highgate. Located on a sought-after road in the heart of Highgate and occupying a two-acre site, the bespoke family home with accommodation predominantly arra...', 'Detached', 'N6', "'s International Realty, London", 'rightmove', 'https://www.rightmove.co.uk/properties/83624538#/?channel=RES_BUY', '2023-02-21 00:00:00', 'sales6.07.032000000.0nanMerton Lane, London, N6', None)
('rent', 'Manor Farm Drive, Chingford, E4', 4.0, 3.0, nan, 2900.0, 669.0, 'This absolutely stunning high spec four bedroom, three bathroom family house is newly refurbished throughout with modern quality fixtures and fittings throughout. This hugely impressive property has a fully open plan and very spacious ground floor which includes a stunning designer fitte...', 'House', 'E4', 'Charles Henry Peppiatt Ltd, Southgate', 'rightmove', 'https://www.rightmove.co.uk/properties/134312843#/?channel=RES_LET', '2023-05-19 00:00:00', 'rent4.03.0nan3987.0Manor Farm Drive, Chingford, E4', None)
('sales', 'Piccadilly, Mayfair, London, W1J', nan, nan, 35000000.0, nan, nan, 'A rare opportunity to regenerate an impressive period building with development potential and residential planning permission in place. 139 Piccadilly is a Grade II listed building arranged over six floors, dating back to the mid-18th century. This grand, former townhouse offers over 14,000 sq f...', 'Terraced', 'W1J', 'Knight Frank, Mayfair', 'rightmove', 'https://www.rightmove.co.uk/properties/134089559#/?channel=RES_BUY', '2023-04-25 00:00:00', 'salesnannan35000000.0nanPiccadilly, Mayfair, London, W1J', None)
('rent', 'Cambridge Rd, Kingston Upon Thames, London KT1', 1.0, 1.0, nan, 1600.0, 369.0, 'Material Information Council Tax Band :C', 'flat', 'KT1', 'B & K Estates', 'zoopla', 'https://www.zoopla.co.uk/to-rent/details/64672914/?search_identifier=e29133bd9e33b6e9fd2e1ebde51741c0b3e350a8f4b13ddf07b33e77b503a8b7', '2023-05-19 00:00:00', 'rent1.01.0nan1600.0Cambridge Rd, Kingston Upon Thames, London KT1', nan)
('rent', 'Flat 2, Refectory Apartments, 3 Lawrence Yard, London, N15', 2.0, 1.0, nan, 1750.0, 404.0, 'Ellis & Co are delighted to offer on the market this bright & airy first floor, 2 bedroom modern apartment.', 'Apartment', 'N15', 'Ellis & Co, Tottenham', 'rightmove', 'https://www.rightmove.co.uk/properties/135045284#/?channel=RES_LET', '2023-05-19 00:00:00', 'rent2.01.0nan1500.0Flat 2, Refectory Apartments, 3 Lawrence Yard, London, N15', None)
('sales', 'Elmwood Road, Herne Hill', 2.0, 1.0, 625000.0, nan, nan, '2 bedroom flat for sale', 'flat', 'Hill', 'NaN', 'omt', 'https://www.onthemarket.com/details/13228044/', '2023-05-19', 'sales2.01.0625000.0nanElmwood Road, Herne Hill', None)
('sales', 'Royal Westminster, London', 7.0, 5.0, 35000000.0, nan, nan, 'A very rare find this luxurious circa 11000 SQF house in the heart of Westminster. Features 7 bedroom suites 5 reception rooms Gym Lift Swimming pool, jacuzzi Terrace with stunning views of Houses of Parliament For more information get in touch.', 'Detached', 'London', 'Luxury Living Homes International, London', 'rightmove', 'https://www.rightmove.co.uk/properties/134449994#/?channel=RES_BUY', '2023-04-05 00:00:00', 'sales7.05.035000000.0nanRoyal Westminster, London', None)
('rent', 'Mount View Road, London N4', nan, 1.0, nan, 1499.0, 346.0, 'Studio to rent', 'Studio', 'N4', 'NaN', 'omt', 'https://www.onthemarket.com/details/13231685/', '2023-05-19', 'rentnan1.0nan1437.0Mount View Road, London N4', None)
('rent', 'Albert Road, St. Mary Cray BR5', 3.0, 1.0, nan, 1685.0, 389.0, '3 bedroom flat to rent', 'flat', 'BR5', 'NaN', 'omt', 'https://www.onthemarket.com/details/13231796/', '2023-05-19', 'rent3.01.0nan1800.0Albert Road, St. Mary Cray BR5', None)
('sales', 'Rydal Crescent, Perivale, Greenford UB6', 3.0, 2.0, 600000.0, nan, nan, 'Brian Cox and Company are delighted to bring to the market this chain free, three bedroom, end of terrace, family home in Perivale. The property ...', 'house', 'UB6', 'Brian Cox - Greenford & Perivale', 'zoopla', 'https://www.zoopla.co.uk/for-sale/details/64672346/?search_identifier=e2f52ecac4296f7263ce1d9f3bd364400246cf2a24ee664b466896f27c160137', '2023-05-19 00:00:00', 'sales3.02.0600000.0nanRydal Crescent, Perivale, Greenford UB6', 2.0)
('sales', 'Hampden Road, London N8', 5.0, 2.0, 1250000.0, nan, nan, 'This substantial Five Bedroom Victorian Family house sits proudly on Hampden Road, one of the many sought after streets that make up the Harringay ...', 'terraced', 'N8', 'Winkworth - Harringay', 'zoopla', 'https://www.zoopla.co.uk/for-sale/details/64672420/?search_identifier=e2f52ecac4296f7263ce1d9f3bd364400246cf2a24ee664b466896f27c160137', '2023-05-19 00:00:00', 'sales5.02.01250000.0nanHampden Road, London N8', 2.0)

16

### Create both xlsx and csv master list

In [ ]:
cur.execute(query1)

for row in cur.fetchall():
    print(row)

# Convert the query result to a DataFrame
df = pd.DataFrame(rows, columns=[column[0] for column in cur.fetchall()])


# Save as CSV
csv_filename = f'data_output/masterList_{date.today()}.csv'
df.to_csv(csv_filename, index=False)

# Save as Excel
excel_filename = f'data_output/masterList_{date.today()}.xlsx'
df.to_excel(excel_filename, index=False)

### Creare a database and load the master list back to the database

In [ ]:
cur.execute("DROP TABLE IF EXISTS master_list")

master_list  = """
CREATE TABLE IF NOT EXISTS master_list (
    transaction TEXT,
    address VARCHAR,
    bedroom FLOAT,
    bathroom FLOAT,
    living_room FLOAT,
    sales_price FLOAT,
    rent_perMonth FLOAT,
    rent_perWeek FLOAT,
    description VARCHAR,
    propertyType VARCHAR,
    location VARCHAR,
    agent VARCHAR,
    listing_source VARCHAR,
    listing_url VARCHAR,
    listed_date DATE,
    id TEXT PRIMARY KEY
);
"""

cur.execute(master_list)

Copy the save csv file to the master_list table

In [ ]:
copy_data = f"""
COPY master_list (
    transaction, address, bedroom, bathroom, living_room, sales_price, rent_perMonth, rent_perWeek,
    description, propertyType, location, agent, listing_source, listing_url, listed_date, id
) FROM 'data_output/masterList_{date.today()}.csv' DELIMITER ',' CSV HEADER;
"""

cur.execute(copy_data)