## Data Modelling

In [1]:
# import libaries needed
import pandas as pd
import psycopg2

In [2]:
# load dataset
rm_data = pd.read_csv('rightnow_2023-05-17.csv')
omt_data = pd.read_csv('omt_2023-05-18.csv')
z_data = pd.read_csv('zoopla_2023-05-18.csv')

In [3]:
rm_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2100 entries, 0 to 2099
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction     2100 non-null   object
 1   address         2100 non-null   object
 2   bedroom         1976 non-null   float64
 3   bathroom        1947 non-null   float64
 4   sales_price     2100 non-null   object
 5   rent_perMonth   1050 non-null   object
 6   rent_perWeek    1050 non-null   object
 7   description     2100 non-null   object
 8   propertyType    2100 non-null   object
 9   location        2098 non-null   object
 10  agent           2100 non-null   object
 11  listing_source  2100 non-null   object
 12  listing_url     2100 non-null   object
 13  date_type       2100 non-null   object
 14  date            2100 non-null   object
dtypes: float64(2), object(13)
memory usage: 246.2+ KB

In [4]:
omt_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1886 entries, 0 to 1885
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction     1886 non-null   object
 1   address         1804 non-null   object
 2   bedroom         1796 non-null   object
 3   bathroom        1715 non-null   float64
 4   sales_price     1886 non-null   object
 5   rent_perMonth   943 non-null    object
 6   rent_perWeek    943 non-null    object
 7   description     0 non-null      float64
 8   propertyType    1804 non-null   object
 9   location        1804 non-null   object
 10  agent           164 non-null    object
 11  listing_source  1886 non-null   object
 12  listing_url     1886 non-null   object
 13  date_added      1886 non-null   object
dtypes: float64(2), object(12)
memory usage: 206.4+ KB

### Create a Unique ID for each data

The unique id will be crated by combining the  [[transaction,agent,address,sales_price,rent_permonth,rent_perweek]] as one attribute

In [ ]:
rm_data['id'] = rm_data['transaction'] + rm_data["bedroom"].astype(str) + rm_data["bathroom"].astype(str) + rm_data["sales_price"].astype(str)+ rm_data["address"]

In [ ]:
omt_data['id'] = omt_data['id'] = omt_data['transaction'] + omt_data["bedroom"].astype(str) + omt_data["bathroom"].astype(str) + omt_data["sales_price"].astype(str)+ omt_data["address"]

In [ ]:
z_data['id'] = z_data['id'] = z_data['transaction'] + z_data["bedroom"].astype(str) + z_data["bathroom"].astype(str) + z_data["sales_price"].astype(str)+ z_data["address"]

### Connecting to the database

In [ ]:
def create_database():
    # connect to default database
    conn = psycopg2.connect("host=localhost dbname=postgres user=postgres password = 1118")
    conn.set_session(autocommit = True)
    cur = conn.cursor()
    
    # create sparkify database with UTF8 enconding
    cur.execute("DROP DATABASE IF EXISTS socialmedia")
    cur.execute("CREATE DATABASE socialmedia")
    
    
    #close connection to default database
    conn.close()
    
    
    # connect to sparkify database
    conn = psycopg2.connect("host=localhost dbname=socialmedia user=postgres password=1118")
    conn.set_session(autocommit = True) # set commit to automatic
    cur = conn.cursor()
    
    return cur,conn

cur,conn = create_database()

### Create table for each dataset

### Connect to the already created Database

### Pull out the dataset and write query

  Use LEFT outer join to combine all the three dataset as one, remove duplicate and save the distinct data set into a new table in the database and also ouput it as csv